In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
directory = 'D:\\.Files\\Fraud\\Titanic\\'
data = pd.read_csv(directory + 'train.csv', sep = ';').dropna(axis = 0).apply(pd.to_numeric).to_numpy()
use = data[:round(data.shape[0] * 0.33)]
train = data[round(data.shape[0]*0.33):]


print(train[:10])
print(train.shape)
print(use[:10])
print(use.shape)

[[  3.       0.      24.       0.       0.       8.85     1.       0.    ]
 [  3.       1.      24.       0.       0.       7.8958   1.       0.    ]
 [  3.       1.      23.5      0.       0.       7.2292   2.       0.    ]
 [  1.       0.       2.       1.       2.     151.55     1.       0.    ]
 [  1.       0.      50.       0.       1.     247.5208   2.       1.    ]
 [  3.       1.      19.       0.       0.       0.       1.       0.    ]
 [  1.       1.       0.92     1.       2.     151.55     1.       1.    ]
 [  1.       0.      17.       1.       0.     108.9      2.       1.    ]
 [  2.       1.      30.       1.       0.      24.       2.       0.    ]
 [  1.       0.      30.       0.       0.      56.9292   2.       1.    ]]
(476, 8)
[[ 1.      0.     38.      1.      0.     71.2833  2.      1.    ]
 [ 3.      0.     26.      0.      0.      7.925   1.      1.    ]
 [ 1.      0.     35.      1.      0.     53.1     1.      1.    ]
 [ 3.      1.     35.      0.      0.      8.05    1.      0.    ]
 [ 1.      1.     54.      0.      0.     51.8625  1.      0.    ]
 [ 3.      1.      2.      3.      1.     21.075   1.      0.    ]
 [ 3.      0.     27.      0.      2.     11.1333  1.      1.    ]
 [ 2.      0.     14.      1.      0.     30.0708  2.      1.    ]
 [ 3.      0.      4.      1.      1.     16.7     1.      1.    ]
 [ 1.      0.     58.      0.      0.     26.55    1.      1.    ]]
(235, 8)

In [3]:
def euqlideanDist(vec1, vec2):
    return math.sqrt(sum((vec1 - vec2))**2)

In [4]:
def pnn(train, use):
    sigma = 3
    denumerator = 0.0
    # list with 0 value, which length = count of classes
    numerator = np.array([*map(float, np.array(['0'] * len(set(train[:,1]))))])
    
    for tr in train: 
            E = math.exp(-1 * (euqlideanDist(use, tr[:-1])**2) / sigma**2)
            numerator[int(tr[-1])] += E

            # To exclude case of devison by 0
            denumerator += E if E != 0 else 0.00000001
            
    return numerator/denumerator

In [5]:
result = np.array([*map(lambda use: pnn(train,use), use[:,:-1])])

In [6]:
res = np.array([*map(lambda x: 1 if x[1] > x[0] else 0, result)]).T

In [7]:
sum([1 if rs == us else 0 for rs, us in zip(res, use[:,-1])]) / res.shape[0]

0.625531914893617

In [8]:
res_tst = pd.DataFrame(np.vstack((res, use[:, -1])).T)

In [9]:
def visualise(df):
    FF = sum(df.iloc[:, 1][df.iloc[:, 0] == 1]) / df.shape[0] * 100
    NN = 100 - sum(df.iloc[:, 1][df.iloc[:, 0] == 0]) / df.shape[0] * 100
    FN = 100 - sum(df.iloc[:, 1][df.iloc[:, 0] == 1]) / df.shape[0] * 100
    NF = sum(df.iloc[:, 1][df.iloc[:, 0] == 0]) / df.shape[0] * 100

    res =  pd.DataFrame([ [NN, NF],
                         [FN, FF]  ])
    #print(res)
    return res

In [10]:
visualise(res_tst)

           0          1
0  73.617021  26.382979
1  89.787234  10.212766